---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import ServicesGrid from "../components/ServicesGrid.astro";

---

<Layout>
    <div class="container mx-auto py-10 text-center">
        <h2 class="text-2xl font-bold">Nuestros servicios</h2>
        <ServicesGrid/>
    </div>
</Layout>