---
---

<section class="pb-12">
  <div class="container mx-auto px-6 md:px-12 lg:px-20">
    <h2 class="text-2xl text-center font-bold mb-6">Contacta con nosotros</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap:8 md:gap-20 items-center">
      <div>
        <div class="space-y-4">
          <div>
            <h3 class="text-lg font-semibold">Dirección</h3>
            <p class="text-gray-300">Av. de los Labradores 9, Parking -1</p>
            <p class="text-gray-300">Tres Cantos, Madrid 28760</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Teléfonos</h3>
            <p class="text-gray-300">689 829 723</p>
            <p class="text-gray-300">918 032 751</p>
          </div>
          <div class="space-x-2">
            <h3 class="text-lg font-semibold">Redes sociales</h3>
            <a
              href="https://www.instagram.com/autowash_pitstop3c/"
              target="_blank"
              class="text-blue-500 hover:underline">Instagram</a
            >
            <a
              href="https://www.tiktok.com/@autowash_trescantos"
              target="_blank"
              class="text-pink-500 hover:underline">Tiktok</a
            >
          </div>
        </div>
      </div>
      <div class="flex mt-2">
        <h3 class="sr-only">Ubicación</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12116.211292000724!2d-3.718505627262648!3d40.60665818319456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43d519499a5e69%3A0x33db944bf0dc1582!2sAutowash%20PIT-STOP%20SERVICE%203C!5e0!3m2!1ses!2ses!4v1746879752369!5m2!1ses!2ses"
          width="600"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
