---

---

<footer
  class="py-6 mx-auto bg-[#13151a] text-gray-200 border-t border-gray-700"
>
  <div class="container mx-auto text-center">
    <p>
      &#169; AutoWash & <a
        href="https://github.com/SBola97"
        class="hover:underline"
        target="_blank">Sebastián Bolaños</a
      >. Todos los derechos reservados
    </p>
  </div>
</footer>
