---

---

<footer class="py-6 mx-auto bg-[#13151a] text-gray-200 border-t border-gray-700">
    <div class="container mx-auto text-center">
        <p>&#169; AutoWash & Sebastián Bolaños. Todos los derechos reservados</p>
    </div>
</footer>