---
---

<header class="fixed top-0 w-full z-50">
   <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <a href="#" class="text-2xl text-green-400">AutoWash</a>
    <nav class="hidden md:flex space-x-6">
        <a href="#">Inicio</a>
        <a href="#">Servicios</a>
        <a href="#">Precios</a>
        <a href="#">Contáctanos</a>
    </nav>
   </div>
</header>