---
---

<header class="relative top-0 w-full z-50">
   <div class="container mx-auto p-6 flex justify-between items-center">
    <a href="#" class="text-2xl text-green-400">
        <img src="/src/assets/logo-autowash.jpeg" alt="logo-autowash" class="h-10 w-auto">
    </a>
    <!-- Desktop menu -->
    <nav class="hidden md:flex space-x-6">
        <a href="#">Inicio</a>
        <a href="#">Servicios</a>
        <a href="#">Precios</a>
        <a href="#">Contáctanos</a>
    </nav>
   </div>
</header>