---
---

<header class="relative top-0 w-full bg-[#13151a] border-b border-gray-700">
   <div class="container mx-auto p-6 flex justify-between items-center">
    <a href="/" class="text-2xl text-green-400">
        <img src="/src/assets/logo-autowash.jpeg" alt="logo-autowash" class="h-10 w-auto">
    </a>
    <!-- Desktop menu -->
    <nav class="hidden md:flex space-x-6">
        <a href="/" class="font-bold hover:underline">Inicio</a>
        <a href="/services" class="font-bold hover:underline">Servicios</a>
        <a href="/" class="font-bold hover:underline">Contáctanos</a>
    </nav>
   </div>
</header>