---
import "../styles/global.css";
---


<section class="w-full h-[60vh] sm:h-[70vh]">
    <div class="relative flex h-full justify-center items-center">
        <img src="/src/assets/hero-autowash.jpeg" alt="hero autowash" 
        class="w-full h-full object-cover rounded-2xl">
        <button onclick="window.open('https://wa.me/', '_blank')"
        class="absolute flex items-center bottom-20 sm:bottom-30 gap-2 bg-green-500 rounded-2xl sm:px-6 px-4 py-2 text-base sm:text-lg 
        font-semibold hover:ring-2 hover:cursor-pointer transition-transform duration-300 hover:scale-105">
            <img src="/src/assets/whatsapp.svg" alt="WhatsApp-logo" class="w-8 h-8">
        Contáctanos
        </button>
    </div>
</section>