---
import "../styles/global.css";
---


<section class="w-full h-[80vh] py-4">
    <div class="container mx-auto px-4">
        <div class="flex h-[80vh] justify-center">
            <img src="/src/assets/hero-autowash.jpeg" alt="hero autowash"> 
        </div>
    </div>
</section>