---
import "../styles/global.css";
---


<section class="w-full h-[80vh] py-4">
    <div class="container mx-auto px-4">
        <div class="relative flex h-[80vh] justify-center items-center">
            <img src="/src/assets/hero-autowash.jpeg" alt="hero autowash" class="w-full h-full object-cover">
            <button onclick="window.open('https://wa.me/', '_blank')"
            class="absolute flex items-center bottom-40 gap-2 bg-green-500 rounded-3xl px-8 py-3 text-lg font-semibold hover:ring-2 hover:cursor-pointer">
                <img src="/src/assets/whatsapp.svg" alt="WhatsApp-logo" class="w-10 h-10">
            Contáctanos
            </button>
        </div>
    </div>
</section>