---
import "../styles/global.css";
---


<section>
    <div class="container mx-auto py-12 text-center">
        <h2 class="text-2xl font-bold">Nuestros servicios</h2>
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 p-12">
            <div>
                <h2 class="font-bold text-lg">Servicio 1</h2>
            </div>
            <div>
                <h2 class="font-bold text-lg">Servicio 2</h2>
            </div>
            <div>
                <h2 class="font-bold text-lg">Servicio 3</h2>
            </div>
        </div>
    </div>
</section>