---
import "../styles/global.css";
import ServicesGrid from "./ServicesGrid.astro";
---

<section>
  <div class="container mx-auto py-10 text-center">
    <h2 class="text-2xl font-bold">Nuestros servicios</h2>
    <ServicesGrid limit={4} />
    <div class="flex justify-end mt-2 mr-8">
      <a
        href="/services"
        class="bg-blue-500 px-6 py-2 rounded-2xl text-md transition-transform duration-300 hover:scale-105"
        >Ver servicios
        <svg class="inline ml-2 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
