---
import "../styles/global.css";
---

<section class="py-16">
  <h1 class="text-2xl font-bold text-center mb-6">Quiénes Somos</h1>
  <div class="container mx-auto px-4 pt-4">
    <div
      class="container grid grid-cols-1 md:grid-cols-2 place-items-center md:gap-6 px-2 md:px-0"
    >
      <img
        src="/public/images/somos.jpg"
        alt="Somos"
        class="w-120 h-70 md:w-200 md:h-96 rounded-lg mb-8 shadow-md hover:scale-105 transition-transform"
      />
      <img
        src="/public/images/somos2.jpg"
        alt="Somos 2"
        class="hidden md:block w-100 h-60 md:w-200 md:h-96 rounded-lg mb-8 shadow-md hover:scale-105 transition-transform"
      />
    </div>
    <p
      class="text-md mb-4 mx-4 leading-relaxed md:text-lg text-center md:mb-6 md:mx-10"
    >
      En AutoWash, somos un equipo apasionado por el cuidado y mantenimiento de
      tu vehículo. Con años de experiencia en la industria automotriz, nos
      dedicamos a ofrecer servicios de alta calidad que superen las expectativas
      de nuestros clientes. Nuestra misión es brindar un servicio excepcional
      que no solo deje tu auto impecable, sino que también te haga sentir
      valorado y satisfecho con cada visita.
    </p>
  </div>
</section>
